<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <!-- Agregar Tailwind CSS desde el CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body class="bg-gray-200">
    {% set allowed_public = ['main.index', 'main.login', 'main.register'] %}
    {% if not session.get('user_id') and request.endpoint not in allowed_public %}
        {% include 'partials/header.html' %} <!-- Aquí va la cabecera -->
        <div class="flex items-center justify-center min-h-screen w-full">
            <span class="text-xl text-gray-700 font-semibold text-center">Necesitas iniciar sesión o registrarte para acceder a esta página.</span>
        </div>
    {% else %}
        {% include 'partials/header.html' %} <!-- Aquí va la cabecera -->
        <main class="ml-8 mr-8 mb-10 mt-10">
            {% block content %}{% endblock %}
        </main> <!-- Aquí va el contenido de la página -->
        {% include 'partials/footer.html' %} <!-- Aquí va el pie de página -->
    {% endif %}
</body>

</html>